html {
  scroll-behavior: smooth;
}

.gjs-plg-flex-column {
  flex-grow: 1;
}

.gjs-plg-flex-row {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
}

#i9hf {
  width: 100%;
  height: 380px;
}

#izsl {
  flex-basis: 100%;
  background-color: rgb(248, 249, 248);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-width: 0.5px;
  border-right-width: 0.5px;
  border-bottom-width: 0.5px;
  border-left-width: 0.5px;
  border-top-color: rgb(210, 210, 211);
  border-right-color: rgb(210, 210, 211);
  border-bottom-color: rgb(210, 210, 211);
  border-left-color: rgb(210, 210, 211);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  position: absolute;
  left: 40%;
  right: 0%;
  top: 50%;
  box-shadow: 0 0 5px 0 #f2f2f3;
  width: 313px;
  height: 74px;
  bottom: 0%;
}

#io4c2 {
  padding: 10px;
  font-family: Roboto;
  padding-left: 47px;
  position: relative;
  bottom: 15%;
}

.gjs-image-box {
  height: 200px;
  width: 100%;
}

#ickid {
  background-image: url('https://i.imgur.com/4DUA6yz.png');
  background-size: contain;
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin-left: 247px;
  position: relative;
  bottom: 57px;
}

#ip2a2 {
  padding: 10px;
  font-family: Roboto;
  font-size: 12px;
  color: rgb(85, 84, 84);
  margin-left: 220px;
  position: relative;
  bottom: 65px;
}

#i2kcx {
  width: 24px;
  height: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgb(210, 210, 211);
  border-right-color: rgb(210, 210, 211);
  border-bottom-color: rgb(210, 210, 211);
  border-left-color: rgb(210, 210, 211);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  margin-left: 13px;
  position: relative;
  top: 24px;
  cursor: grab;
}

@media (max-width: 992px) {
  #izsl {
    left: 30%;
  }
}

@media (max-width: 480px) {
  #izsl {
    left: 1%;
  }
}